@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}
a {
  text-decoration: none;
  color: white;
}
p {
  text-transform: uppercase;
}
.container {
  margin: 0 auto;
  background-image: url(../img/bcg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.main {
  margin: 0 auto;
  overflow: hidden;
}
.header {
  margin: 0 auto;
  padding-top: 29px;
  max-width: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 500;
  font-size: 29px;
}
.header__list {
  margin-left: 29px;
  border-bottom: 2px solid transparent;
}
.header__list:first-child {
  margin-left: 0px;
}
.header__list:hover {
  border-bottom: 2px solid white;
}
.home__content {
  width: 100%;
  height: 100vh;
}
.home__content-logo {
  width: 100%;
  height: 480px;
}
.home__content-btn {
  width: 93%;
  height: 250px;
  position: relative;
}
.main-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0%;
  background-image: url(../ico/btn.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 350px;
  height: 250px;
}
.main-btn p {
  text-align: center;
  color: white;
  font-weight: 800;
  font-size: 24px;
  width: 200px;
}

.about__content {
  margin-top: 93px;
}
.about__content-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 70px;
}
.about__content-subtitle {
  color: white;
  font-weight: 600;
  font-size: 36px;
}
.about__content-discription {
  margin-top: 105px;
  color: #4e4e4e;
  font-weight: 800;
  font-size: 72px;
  text-align: center;
}
.about__content-discription span {
  font-family: "arial";
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #4e4e4e;
}
.about__content-stars {
  position: relative;
}
.about__content-stars--item {
  margin-top: -130px;
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 0px;
  width: 200px;
  overflow: hidden;
}
.about__content-stars img:first-child {
  /* position: absolute; */
  rotate: -25deg;
  width: 100px;
  height: 100px;
}
.about__content-stars img:nth-child(2) {
  /* position: absolute; */
  rotate: 25deg;
  width: 350px;
  height: 350px;
  object-fit: cover;
}
.about__content-stars img:last-child {
  /* position: absolute; */
  rotate: 35deg;
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-top: 40px;
  margin-left: 80px;
}
.about__content-infographics {
  margin-top: 130px;
  display: flex;
  justify-content: center;
  gap: 70px;
}
.about__content-infographics--item {
  color: #353535;
  font-weight: 800;
  font-size: 24px;
  text-align: center;
}
.about__content-infographics--item p {
  margin-top: 20px;
}
.banner {
  color: #ffffff;
  font-weight: 900;
  font-size: 71px;
  text-align: center;
  margin-top: 225px;
}

.founders__content-title {
  margin-top: 205px;
  color: #ffffff;
  font-weight: 900;
  font-size: 178px;
  text-align: center;
}
.founders__content-description {
  display: flex;
}
.founders__content-description--title {
  margin-top: 80px;
  margin-left: 45px;
  color: #4e4e4e;
  font-weight: 600;
  font-size: 42px;
}
.founders__content-description--title p {
  width: 700px;
}
.founders__content-description p > span {
  font-weight: 900;
}
.founders__content-description--subtitle {
  margin-top: 30px;
  font-size: 32px;
}
.founders__content-description--photo-mobile {
  display: none;
}
.founders__content-description--photo .photo {
  display: flex;
}
.photo-alla {
  margin-top: -150px;
  margin-left: -55px;
  width: 515px;
  height: 560px;
}
.photo-nadya {
  margin-top: -10px;
  margin-left: -287px;
  width: 600px;
  height: 600px;
}
.spheres__content {
  margin-top: 150px;
  position: relative;
}
.small-cloud {
  position: absolute;
  top: -300px;
  right: -30px;
  animation: float 6s ease-in-out infinite;
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
@keyframes floatBigCloud {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(40px);
  }
  100% {
    transform: translatey(0px);
  }
}
.big-cloud {
  position: absolute;
  top: 200px;
  left: -50px;
  animation: floatBigCloud 6s ease-in-out infinite;
  width: 450px;
  height: 450px;
  overflow: hidden;
}
.big-cloud img {
  width: 650px;
  height: 650px;
  margin-left: -250px;
  object-fit: cover;
}
.sphere__banner-mobile {
  display: none;
}
.spheres-item {
  color: #ffffff;
  font-weight: 800;
  font-size: 30px;
  text-align: center;
}
.spheres-item p {
  text-shadow: 0px 2px 4px #00000067;
}
.spheres-item span {
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  text-shadow: none;
  margin-top: 5px;
}
.first-line {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  gap: 50px;
}
.first-line p:nth-child(2) {
  margin-top: -50px;
}
.second-line {
  margin-top: 70px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.second-line p {
  width: 400px;
}
.second-line img {
  width: 620px;
}
.third-line {
  margin-top: 70px;
  display: flex;
  justify-content: center;
}
.third-line p {
  width: 350px;
}
.third-line p:nth-child(2) {
  margin-top: 100px;
}
.services__content {
  margin-top: 223px;
}
.services__content-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 70px;
}
.services__content-subtitle {
  color: white;
  font-weight: 600;
  font-size: 36px;
}
.services__content-grid {
  display: grid;
  grid-template-columns: repeat(2, 600px);
  grid-template-rows: repeat(2, 600px);

  row-gap: 50px;
  margin-top: 70px;
}
.services__content-grid--item-title {
  text-align: center;
  color: #4e4e4e;
  font-weight: 800;
  font-size: 42px;
}
.services__content-grid--item-elem {
  background-image: url(../img/bcglist.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 670px;
}
.elem__group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 140px;
}
.elem__group p {
  color: #4e4e4e;
  font-weight: 900;
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
}
.elem__group img {
  width: 80px;
  height: 80px;
  opacity: 0.85;
  filter: brightness(90%);
}

.elem__group:nth-child(2n) {
  margin-top: -230px;
}
.about__content-stars {
  position: relative;
}
.about__content-stars--item {
  margin-top: -130px;
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 0px;
  width: 200px;
  overflow: hidden;
}
.about__content-stars img:first-child {
  /* position: absolute; */
  rotate: -25deg;
  width: 100px;
  height: 100px;
}
.about__content-stars img:nth-child(2) {
  /* position: absolute; */
  rotate: 25deg;
  width: 350px;
  height: 350px;
  object-fit: cover;
}
.about__content-stars img:last-child {
  /* position: absolute; */
  rotate: 35deg;
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-top: 40px;
  margin-left: 80px;
}
.services__content-stars {
  position: relative;
}
.services__content-stars--item {
  position: absolute;
  top: -70px;
  right: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 299px;
  overflow: hidden;
}
.services__content-stars--item img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.services__content-stars--item img:nth-child(2n) {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.cases__content {
  margin-top: 300px;
}
.cases__content-title {
  color: #4e4e4e;
  font-weight: 900;
  font-size: 176px;
  text-align: center;
}
.cases__content-subtitle {
  color: #4e4e4e;
  font-weight: 800;
  font-size: 46px;
  text-align: center;
}
.cases__content-description {
  color: #4e4e4e;
  font-weight: 700;
  font-size: 26px;
  text-align: center;
  margin-top: 30px;
}
.cases__content-description span {
  color: #fd7803;
  font-weight: 800;
}
.btn {
  position: relative;
}
.cases__content-btn {
  position: absolute;
  top: -50px;
  right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../ico/casesBtn.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 470px;
  height: 230px;
}
.cases__content-btn p {
  text-align: center;
  color: white;
  font-weight: 800;
  font-size: 24px;
  width: 300px;
}
.vacancy__content {
  margin-top: 370px;
  padding-bottom: 50px;
}
.vacancy__content-title {
  margin-left: 200px;
}
.vacancy__content-title img {
  width: 950px;
}
.vacancy__content-title p {
  color: #ffffff;
  font-weight: 900;
  font-size: 32px;
  margin-top: 10px;
}
.vacancy__content-items {
  margin-top: 50px;
  margin-left: 50px;
}
.vacancy__content-item {
  display: flex;
  align-items: center;
  color: #4e4e4e;
  font-weight: 800;
  font-size: 32px;
  margin-top: 20px;
}
.vacancy__content-item img {
  width: 100px;
  margin-left: 20px;
}
.vacancy-item span {
  font-weight: 500;
  font-size: 28px;
}
.vacancy-btn {
  position: relative;
}
.vacancy__content-btn {
  position: absolute;
  top: -190px;
  right: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../ico/vacancyBtn.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 370px;
  height: 150px;
}
.vacancy__content-btn p {
  text-align: center;
  color: white;
  font-weight: 800;
  font-size: 24px;
}
@media (max-width: 1280px) {
  .header {
    padding-top: 20px;
    max-width: 1240px;
    font-size: 24px;
  }
  .header__list {
    margin-left: 15px;
    border-bottom: 1px solid transparent;
  }
  .header__list:hover {
    border-bottom: 1px solid white;
  }
  .home__content-logo {
    height: 450px;
  }
  .home__content-btn {
    height: 250px;
  }
  .main-btn {
    width: 300px;
    height: 250px;
  }
}
@media (max-width: 769px) {
  .container {
    background-image: url(../img/bcgMobile.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .header {
    padding-top: 30px;
    max-width: 740px;
    font-size: 24px;
  }
  .header__list {
    margin-left: 15px;
    border-bottom: 1px solid transparent;
  }
  .header__list:hover {
    border-bottom: 1px solid white;
  }
  .home__content-btn {
    height: 200px;
  }
  .main-btn {
    bottom: -250px;
    right: 30px;
    width: 300px;
    height: 250px;
  }
  .main-btn p {
    font-weight: 700;
    font-size: 22px;
  }
}
@media (max-width: 450px) {
  .home__content-logo {
    height: 250px;
  }
  .main-btn {
    bottom: -100px;
    width: 200px;
  }
  .main-btn p {
    font-size: 18px;
    width: 100px;
  }
}
@media (max-width: 376px) {
  .container {
    background-image: url(../img/bcgMobile.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .header {
    padding-top: 17px;
    max-width: 740px;
    font-size: 16px;
  }
  .header__list {
    margin-left: 7px;
  }
  .home__content {
    height: 390px;
  }
  .home__content-logo {
    height: 250px;
  }
  .home__content-btn {
    height: 100px;
  }
  .main-btn {
    bottom: -100px;
    right: 50px;
    width: 150px;
    height: 150px;
  }
  .main-btn p {
    font-weight: 700;
    font-size: 14px;
    width: 100px;
  }
  .about__content {
  }
  .about__content-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
  }
  .about-title {
    margin-top: 0px;
    width: 170px;
  }
  .about__content-subtitle {
    color: white;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    width: 250px;
  }
  .about__content-discription {
    margin: 50px auto;
    font-weight: 800;
    font-size: 28px;
    width: 340px;
  }
  .about__content-discription span {
    font-family: "arial";
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #4e4e4e;
  }
  .about__content-stars {
    position: relative;
  }
  .about__content-stars--item {
    margin-top: -70px;
    right: 0px;
    width: 110px;
  }
  .about__content-stars img:first-child {
    rotate: -25deg;
    width: 70px;
    height: 70px;
    margin-left: 40px;
  }
  .about__content-stars img:nth-child(2) {
    rotate: 25deg;
    width: 150px;
    height: 150px;
  }
  .about__content-stars img:last-child {
    rotate: 35deg;
    width: 45px;
    height: 45px;
    margin-top: 0px;
    margin-left: 80px;
  }

  .about__content-infographics {
    max-width: 320px;
    margin: 200px auto 0;
    gap: 10px;
  }
  .about__content-infographics--item {
    font-size: 14px;
    text-align: center;
  }
  .about__content-infographics--item p {
    margin-top: 10px;
  }
  .banner {
    font-size: 28px;
    max-width: 250px;
    margin: 130px auto 0;
  }
  .item-ico img {
    width: 60px;
    height: 60px;
  }
  .founders__content-title {
    margin-top: 40px;
    font-size: 42px;
  }
  .founders__content-description {
    display: block;
  }
  .founders__content-description--title {
    margin-top: 5px;
    font-size: 18px;
    margin-left: 20px;
  }
  .founders__content-description--title p {
    max-width: 340px;
  }
  .founders__content-description--subtitle {
    margin-top: 20px;
    font-size: 16px;
  }
  .founders__content-description--photo .photo {
    display: none;
  }
  .founders__content-description--photo-mobile {
    display: block;
  }
  .founders__content-description--photo-mobile .photo-mobile {
    display: flex;
    max-width: 375px;
  }

  .photo-alla-mobile {
    margin-top: -35px;
    margin-left: 95px;
    width: 175px;
    height: 190px;
  }
  .photo-nadya-mobile {
    margin-top: -10px;
    margin-left: -95px;
    width: 200px;
    height: 200px;
  }
  .spheres__content {
    margin-top: 0px;
    position: relative;
  }
  .small-cloud {
    top: -75px;
    right: 0px;
    overflow: hidden;
    width: 100px;
    height: 100px;
  }
  .small-cloud img {
    width: 150px;
    height: 150px;
    margin-top: -10px;
    margin-left: 10px;
    object-fit: cover;
  }
  .big-cloud {
    top: 370px;
    left: 0px;
    width: 150px;
    height: 150px;
  }
  .big-cloud img {
    width: 210px;
    height: 210px;
    margin-left: -70px;
    margin-top: -40px;
  }
  .spheres__content-items {
    margin-left: 25px;
  }
  .spheres-item {
    text-align: left;
  }
  .spheres-item p {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 14px;
  }
  .spheres-item span {
    font-size: 12px;
    text-shadow: none;
  }
  .first-line {
    margin-top: 0px;
    display: block;
  }
  .first-line p:nth-child(2) {
    margin-top: 0px;
  }
  .second-line {
    margin-top: 15px;
    display: block;
  }
  .second-line p {
    width: 350px;
  }
  .second-line img {
    display: none;
  }
  .sphere__banner-mobile {
    margin-top: 20px;
    display: block;
    width: 300px;
  }
  .third-line {
    margin-top: 0px;
    display: block;
  }
  .third-line p {
    width: 350px;
  }
  .third-line p:nth-child(2) {
    margin-top: 0px;
  }
  .services__content {
    margin-top: 103px;
  }
  .services__content-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
  }
  .services__content-title img {
    width: 200px;
  }
  .services__content-subtitle {
    width: 250px;
    margin-top: -10px;
    font-size: 12px;
    text-align: center;
  }
  .services__content-grid {
    display: block;
    margin: 20px 0 0 40px;
  }
  .services__content-grid--item-title {
    margin-left: -40px;
    font-size: 18px;
  }
  .services__content-grid--item-elem {
    padding-top: 20px;
    margin-left: -40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    width: 370px;
    gap: 10px;
  }
  .elem__group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width: 250px;
  }
  .elem__group p {
    text-align: left;
    margin-left: 5px;
    font-size: 12px;
    margin-top: 0px;
  }
  .elem__group img {
    width: 40px;
    height: 40px;
  }

  .elem__group:nth-child(2n) {
    margin-top: 0px;
  }
  .services__content-stars--item {
    position: absolute;
    top: 50px;
    right: -50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    overflow: hidden;
  }
  .services__content-stars--item img {
    width: 100px;
    height: 100px;
  }
  .services__content-stars--item img:nth-child(2n) {
    width: 50px;
    height: 50px;
  }
}
