@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}
a {
  text-decoration: none;
  color: white;
}
p {
  text-transform: uppercase;
}
#loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: #fff0db;
}
#loader img {
  width: 300px;
  height: 300px;
}
#percentage {
  font-size: 50px;
}
.container {
  visibility: hidden;
  margin: 0 auto;
  max-width: 1520px;
  background-image: url(../img/bcg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.main {
  margin: 0 auto;
  overflow: hidden;
}
.header {
  margin: 0 auto;
  padding-top: 28px;
  max-width: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 500;
  font-size: 29px;
}
.header__list {
  margin-left: 29px;
  border-bottom: 2px solid transparent;
}
.header__list:first-child {
  margin-left: 0px;
}
.header__list:hover {
  border-bottom: 2px solid white;
}
.home__content {
  margin: 0 auto;
  max-width: 1440px;
}
.home__content-btn {
  margin-left: 70%;
  margin-top: 35%;
}
.main-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../ico/btn.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 350px;
  height: 250px;
}
.main-btn p {
  text-align: center;
  color: white;
  font-weight: 800;
  font-size: 24px;
  width: 200px;
}
.about__content {
  margin: 100px auto 0;
}
.about__content-main {
  margin: 0 auto;
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 70px;
}
.about__content-subtitle {
  color: white;
  font-weight: 600;
  font-size: 36px;
}
.wow {
  opacity: 0;
  transform: translateY(1em);
  transition: all 0.6s 0.6s ease-out;
}
.animated {
  opacity: 1;
  transform: none;
}
.about__content-discription {
  margin-top: 105px;
  color: #4e4e4e;
  font-weight: 800;
  font-size: 72px;
  text-align: center;
}
.about__content-discription span {
  font-family: "arial";
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #4e4e4e;
}
.about__content-stars {
  position: relative;
}
.about__content-stars--item {
  margin-top: -130px;
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 0px;
  width: 200px;
  overflow: hidden;
}
.about__content-stars img:first-child {
  rotate: -25deg;
  width: 100px;
  height: 100px;
}
.about__content-stars img:nth-child(2) {
  rotate: 25deg;
  width: 350px;
  height: 350px;
  object-fit: cover;
}
.about__content-stars img:last-child {
  rotate: 35deg;
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-top: 40px;
  margin-left: 80px;
}
.about__content-infographics {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 70px;
}
.about__content-infographics--item {
  color: #353535;
  font-weight: 800;
  font-size: 24px;
  text-align: center;
}
.about__content-infographics--item p {
  margin-top: 20px;
  width: 300px;
}
.about__banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 7%;
}
.banner {
  color: #ffffff;
  font-weight: 900;
  font-size: 71px;
  text-align: center;
}
.founders__content-title {
  margin-top: 12%;
  color: #ffffff;
  font-weight: 900;
  font-size: 178px;
  text-align: center;
}
.founders__content-description {
  display: flex;
  position: relative;
}
.founders__content-description--title {
  margin-top: 5%;
  margin-left: 40px;
  color: #4e4e4e;
  font-weight: 600;
  font-size: 42px;
}
.founders__content-description--title p {
  width: 700px;
}
.founders__content-description p > span {
  font-weight: 900;
}
.founders__content-description--subtitle {
  margin-top: 30px;
  font-size: 32px;
}
.founders__content-description--photo-mobile {
  display: none;
}
.founders__content-description--photo {
  position: relative;
  width: 800px;
}
.photo {
  position: absolute;
  overflow: hidden;
  display: flex;
  top: -150px;
  left: -15px;
  right: 0;
}
.photo-alla {
  width: 545px;
  height: 595px;
}
.photo-nadya {
  margin-top: 135px;
  margin-left: -335px;
  width: 670px;
  height: 590px;
}
.spheres__content {
  margin-top: 320px;
  position: relative;
}
.small-cloud {
  position: absolute;
  top: -300px;
  right: 0px;
  animation: float 6s ease-in-out infinite;
  overflow: hidden;
}
.small-cloud img {
  margin-right: 0px;
  object-fit: cover;
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
@keyframes floatBigCloud {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(40px);
  }
  100% {
    transform: translatey(0px);
  }
}
.big-cloud {
  position: absolute;
  top: 200px;
  left: -50px;
  animation: floatBigCloud 6s ease-in-out infinite;
  width: 450px;
  height: 450px;
  overflow: hidden;
}
.big-cloud img {
  width: 650px;
  height: 650px;
  margin-left: -250px;
  object-fit: cover;
}
.sphere__banner-mobile {
  display: none;
}
.spheres-item {
  color: #ffffff;
  font-weight: 800;
  font-size: 30px;
  text-align: center;
}
.spheres-item p {
  text-shadow: 0px 2px 4px #00000067;
  width: 350px;
}
.spheres-item span {
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  text-shadow: none;
  margin-top: 5px;
}
.first-line {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.first-line p:nth-child(2) {
  margin-top: -50px;
}
.second-line {
  margin-top: 70px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.second-line img {
  width: 620px;
}
.third-line {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  gap: 50px;
}
.third-line p:nth-child(2) {
  margin-top: 100px;
}
.services__content-main {
  max-width: 1440px;
  margin: 220px auto 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 70px;
}
.services__content-subtitle {
  color: white;
  font-weight: 600;
  font-size: 36px;
}
.services__content-grid {
  display: grid;
  grid-template-columns: repeat(2, 720px);
  grid-template-rows: repeat(2, 500px);
  row-gap: 40px;
}
.services__content-grid--item-title {
  text-align: center;
  color: #4e4e4e;
  font-weight: 800;
  font-size: 42px;
}
.services__content-grid--item-elem {
  background-image: url(../img/bcglist.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 720px;
}
.elem__group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 140px;
}
.elem__group p {
  color: #4e4e4e;
  font-weight: 900;
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
}
.elem__group img {
  width: 80px;
  height: 80px;
  opacity: 0.85;
  filter: brightness(90%);
}
.elem__group:nth-child(2n) {
  margin-top: -230px;
}
.services__content-stars {
  position: relative;
}
.services__content-stars--item {
  position: absolute;
  top: -170px;
  right: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  overflow: hidden;
}
.services__content-stars--item img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin-right: -250px;
}
.services__content-stars--item img:nth-child(2n) {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.cases__content {
  margin: 30% auto 30px;
  max-width: 1440px;
}
.cases__content-title {
  color: #4e4e4e;
  font-weight: 900;
  font-size: 176px;
  text-align: center;
}
.cases__content-subtitle {
  color: #4e4e4e;
  font-weight: 800;
  font-size: 46px;
  text-align: center;
}
.cases__content-description {
  color: #4e4e4e;
  font-weight: 700;
  font-size: 26px;
  text-align: center;
  margin-top: 30px;
}
.cases__content-description span a {
  color: #fd7803;
  font-weight: 800;
}
.cases__content-btn {
  margin-left: 850px;
  margin-top: -30px;
}
.cases-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../ico/casesBtn.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 450px;
  height: 250px;
}
.cases-btn p {
  text-align: center;
  margin-left: -15px;
  color: white;
  font-weight: 800;
  font-size: 24px;
  width: 260px;
}
.vacancy__content {
  margin-top: 10%;
  padding-bottom: 70px;
}
.vacancy__content-main {
  margin-left: 220px;
}
.vacancy-title {
  width: 950px;
}
.vacancy__content-subtitle {
  color: #ffffff;
  font-weight: 900;
  font-size: 32px;
  margin-top: 10px;
}
.vacancy__content-items {
  margin-top: 50px;
  margin-left: 50px;
}
.vacancy__content-item {
  display: flex;
  align-items: center;
  color: #4e4e4e;
  font-weight: 800;
  font-size: 28px;
  margin-top: 20px;
}
.vacancy__content-item img {
  width: 100px;
  margin-left: 20px;
}
.vacancy-item span {
  font-weight: 500;
  font-size: 24px;
}
.vacancy__content-btn {
  margin-left: 55%;
  margin-top: -200px;
}
.vacancy-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../ico/vacancyBtn.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 490px;
  height: 180px;
}
.vacancy-btn p {
  text-align: center;
  color: white;
  font-weight: 800;
  font-size: 28px;
}

@media (max-width: 1181px) {
  .header {
    padding-top: 15px;
    max-width: 1100px;
    font-size: 22px;
  }
  .home__content-btn {
    margin-left: 760px;
  }
  .main-btn {
    width: 325px;
    height: 225px;
  }
  .about__content {
    margin-top: 20px;
  }
  .about__content-main {
    max-width: 1100px;
  }
  .about-title {
    width: 550px;
  }
  .about__content-subtitle {
    font-size: 30px;
  }
  .about__content-discription {
    margin-top: 90px;
    width: 1100px;
    font-size: 56px;
  }
  .about__content-stars--item {
    margin-top: -130px;
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 0px;
    width: 150px;
    overflow: hidden;
  }
  .about__content-stars img:first-child {
    width: 80px;
    height: 80px;
  }
  .about__content-stars img:nth-child(2) {
    width: 250px;
    height: 250px;
  }
  .about__content-stars img:last-child {
    width: 80px;
    height: 80px;
    margin-top: 40px;
    margin-left: 80px;
  }
  .about__content-infographics {
    margin-top: 100px;
    gap: 40px;
  }
  .about__content-infographics--item {
    font-size: 22px;
  }
  .about__content-infographics--item p {
    width: 250px;
  }
  .item-ico img {
    width: 150px;
  }
  .about__banner {
    gap: 25px;
    margin-top: 50px;
  }
  .banner {
    font-size: 56px;
  }
  .banner-ico {
    width: 70px;
    height: 70px;
  }
  .founders__content-title {
    margin-top: 130px;
    font-size: 144px;
  }
  .founders__content-description--title {
    margin-top: 50px;
    font-size: 30px;
  }
  .founders__content-description--title p {
    width: 500px;
  }
  .founders__content-description--subtitle {
    font-size: 22px;
  }
  .founders__content-description--photo .photo {
    margin-top: 30px;
    margin-left: 50px;
  }
  .photo-alla {
    width: 395px;
    height: 425px;
  }
  .photo-nadya {
    margin-left: -200px;
    margin-top: 100px;
    width: 410px;
    height: 370px;
  }
  .small-cloud {
    top: -250px;
  }
  .small-cloud img {
    width: 300px;
    height: 300px;
  }
  .big-cloud {
    top: 200px;
    left: -90px;
  }
  .big-cloud img {
    width: 400px;
    height: 400px;
    margin-left: -130px;
  }
  .spheres__content {
    margin: 280px auto 0;
  }
  .spheres-item p {
    font-size: 20px;
    width: 280px;
  }
  .spheres-item span {
    font-size: 14px;
  }
  .second-line img {
    width: 450px;
  }
  .first-line {
    margin-top: 0px;
    gap: 20px;
  }
  .first-line p:nth-child(2) {
    margin-top: -50px;
  }
  .third-line {
    margin-top: 70px;
    gap: 20px;
  }
  .third-line p:nth-child(2) {
    margin-top: 50px;
  }
  .services__content-main {
    max-width: 1100px;
    margin-top: 160px;
  }
  .services-title {
    width: 550px;
  }
  .services__content-subtitle {
    font-size: 30px;
  }
  .services__content-stars--item {
    top: -100px;
    width: 250px;
  }
  .services__content-stars--item img {
    width: 200px;
    height: 200px;
    margin-right: -250px;
  }
  .services__content-stars--item img:nth-child(2n) {
    width: 80px;
    height: 80px;
  }
  .services__content-grid {
    grid-template-columns: repeat(2, 500px);
    grid-template-rows: repeat(2, 450px);
    row-gap: 0px;
    margin-left: 0px;
  }
  .services__content-grid--item-title {
    font-size: 36px;
    margin-left: 20px;
  }
  .services__content-grid--item-elem {
    padding-top: 15%;
    height: 400px;
    width: 550px;
    margin-left: 0px;
  }
  .elem__group {
    width: 120px;
  }
  .elem__group:nth-child(2n) {
    margin-top: -150px;
  }
  .elem__group p {
    font-size: 13px;
  }
  .elem__group img {
    width: 65px;
    height: 65px;
  }
  .cases__content {
    margin: 250px auto 0;
    max-width: 1100px;
  }
  .cases__content-title {
    font-size: 109px;
  }
  .cases__content-subtitle {
    font-size: 32px;
  }
  .cases__content-description {
    font-size: 26px;
  }
  .cases__content-btn {
    margin-left: 590px;
    margin-top: 0px;
  }
  .cases-btn {
    width: 350px;
  }
  .cases-btn p {
    font-size: 22px;
  }
  .vacancy__content {
    padding-bottom: 50px;
    margin-top: 70px;
  }
  .vacancy__content-main {
    margin-left: 150px;
  }
  .vacancy-title {
    width: 750px;
  }
  .vacancy__content-subtitle {
    font-size: 20px;
  }
  .vacancy__content-item {
    font-size: 18px;
  }
  .vacancy__content-items {
    margin-top: 30px;
    margin-left: 50px;
  }
  .vacancy__content-item img {
    width: 60px;
    margin-left: 20px;
  }
  .vacancy-item span {
    font-size: 20px;
  }
  .vacancy__content-btn {
    margin-left: 55%;
    margin-top: -180px;
  }
  .vacancy-btn {
    width: 400px;
    height: 150px;
  }
  .vacancy-btn p {
    font-size: 20px;
  }
}
@media (max-width: 1025px) {
  .header {
    padding-top: 10px;
    max-width: 980px;
    font-size: 22px;
  }
  .home__content-btn {
    margin-left: 660px;
    margin-top: 350px;
  }
  .main-btn {
    width: 295px;
    height: 195px;
  }
  .main-btn p {
    font-size: 20px;
  }
  .about__content {
    margin-top: 20px;
  }
  .about__content-main {
    max-width: 980px;
    gap: 30px;
  }
  .about-title {
    width: 500px;
  }
  .about__content-subtitle {
    font-size: 22px;
  }
  .about__content-discription {
    margin-top: 70px;
    font-size: 52px;
  }
  .about__content-stars--item {
    margin-top: -60px;
    width: 105px;
  }
  .about__content-stars img:first-child {
    width: 60px;
    height: 60px;
  }
  .about__content-stars img:nth-child(2) {
    width: 150px;
    height: 150px;
  }
  .about__content-stars img:last-child {
    width: 60px;
    height: 60px;
  }
  .about__content-infographics {
    margin-top: 100px;
    gap: 40px;
  }
  .about__content-infographics--item {
    font-size: 20px;
  }
  .about__content-infographics--item p {
    width: 200px;
  }
  .item-ico img {
    width: 100px;
  }
  .about__banner {
    gap: 25px;
    margin-top: 50px;
  }
  .banner {
    font-size: 46px;
  }
  .banner-ico {
    width: 50px;
    height: 50px;
  }
  .founders__content-title {
    margin-top: 130px;
    font-size: 120px;
  }
  .founders__content-description--title {
    margin-top: 50px;
    font-size: 28px;
  }
  .founders__content-description--title p {
    width: 400px;
  }
  .founders__content-description--subtitle {
    font-size: 22px;
  }
  .founders__content-description--photo .photo {
    margin-top: 50px;
    margin-left: 60px;
  }
  .photo-alla {
    width: 365px;
    height: 395px;
  }
  .photo-nadya {
    margin-left: -200px;
    margin-top: 100px;
    width: 390px;
    height: 350px;
  }
  .small-cloud {
    top: -230px;
    right: 0;
    width: 200px;
  }
  .small-cloud img {
    width: 300px;
    height: 300px;
  }
  .big-cloud {
    top: 200px;
    left: -50px;
  }
  .big-cloud img {
    width: 400px;
    height: 400px;
    margin-left: -130px;
  }
  .spheres__content {
    margin: 150px auto 0;
  }
  .spheres-item p {
    font-size: 20px;
    width: 280px;
  }
  .spheres-item span {
    font-size: 14px;
  }
  .second-line img {
    width: 450px;
  }
  .first-line {
    margin-top: 0px;
    gap: 20px;
  }
  .first-line p:nth-child(2) {
    margin-top: -50px;
  }
  .third-line {
    margin-top: 70px;
    gap: 20px;
  }
  .third-line p:nth-child(2) {
    margin-top: 50px;
  }
  .services__content-main {
    max-width: 980px;
    margin-top: 110px;
    gap: 30px;
  }
  .services-title {
    width: 500px;
  }
  .services__content-subtitle {
    font-size: 25px;
  }
  .services__content-stars--item {
    top: 180px;
  }
  .services__content-stars--item img {
    width: 100px;
    height: 100px;
  }
  .services__content-grid {
    grid-template-columns: repeat(2, 500px);
    grid-template-rows: repeat(2, 450px);
    row-gap: 0px;
    margin-left: -20px;
  }
  .services__content-grid--item-title {
    font-size: 36px;
    margin-left: 20px;
  }
  .services__content-grid--item-elem {
    padding-top: 15%;
    height: 400px;
    width: 550px;
    margin-left: -20px;
  }
  .elem__group {
    width: 120px;
  }
  .elem__group:nth-child(2n) {
    margin-top: -150px;
  }
  .elem__group p {
    font-size: 13px;
  }
  .elem__group img {
    width: 65px;
    height: 65px;
  }
  .cases__content {
    margin: 110px auto 0;
    max-width: 980px;
  }
  .cases__content-title {
    font-size: 79px;
  }
  .cases__content-subtitle {
    font-size: 36px;
  }
  .cases__content-description {
    font-size: 26px;
  }
  .cases__content-btn {
    margin-left: 590px;
    margin-top: -20px;
  }
  .cases-btn {
    width: 300px;
  }
  .cases-btn p {
    font-size: 18px;
  }
  .vacancy__content {
    padding-bottom: 50px;
    margin-top: 0;
  }
  .vacancy__content-main {
    margin-left: 150px;
  }
  .vacancy-title {
    width: 650px;
  }
  .vacancy__content-subtitle {
    font-size: 20px;
  }
  .vacancy__content-item {
    font-size: 18px;
  }
  .vacancy__content-item img {
    width: 60px;
  }
  .vacancy-item span {
    font-size: 20px;
  }
  .vacancy__content-btn {
    margin-left: 55%;
    margin-top: -180px;
  }
  .vacancy-btn {
    width: 400px;
    height: 150px;
  }
  .vacancy-btn p {
    font-size: 20px;
  }
}
@media (max-width: 821px) {
  .container {
    background-image: url(../img/bcgPlansh.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .header {
    padding-top: 30px;
    max-width: 740px;
    font-size: 28px;
  }
  .header__list {
    margin-left: 15px;
    border-bottom: 1px solid transparent;
  }
  .header__list:hover {
    border-bottom: 1px solid white;
  }
  .home__content-btn {
    margin-left: 43%;
    margin-top: 87%;
  }
  .main-btn {
    width: 300px;
    height: 200px;
  }
  .main-btn p {
    font-weight: 700;
    font-size: 22px;
  }
  .about__content {
    margin-top: 200px;
  }
  .about__content-main {
    max-width: 740px;
    gap: 30px;
  }
  .about-title {
    width: 430px;
  }
  .about__content-subtitle {
    font-size: 22px;
  }
  .about__content-discription {
    max-width: 790px;
    margin-top: 135px;
    font-size: 58px;
  }
  .about__content-stars--item {
    margin-top: 100px;
  }
  .about__content-infographics {
    margin-top: 70%;
    gap: 15px;
  }
  .about__content-infographics--item {
    font-size: 16px;
  }
  .about__content-infographics--item:nth-child(2) {
    margin-top: -150px;
  }
  .item-ico img {
    width: 120px;
  }
  .about__banner {
    gap: 15px;
    margin-top: 150px;
  }
  .banner {
    font-size: 46px;
    max-width: 740px;
  }
  .founders__content-title {
    margin-top: 300px;
    font-size: 92px;
  }
  .founders__content-description {
    display: block;
  }
  .founders__content-description--title {
    margin-top: -30px;
    font-size: 30px;
  }
  .founders__content-description--title p {
    width: 480px;
  }
  .founders__content-description--subtitle {
    margin-top: 20px;
    font-size: 24px;
  }
  .founders__content-description--photo .photo {
    display: none;
  }
  .founders__content-description--photo-mobile {
    display: block;
  }
  .photo-mobile {
    display: flex;
    max-width: 375px;
  }
  .photo-alla-mobile {
    margin-top: -55px;
    margin-left: 165px;
    width: 445px;
    height: 490px;
  }
  .photo-nadya-mobile {
    margin-top: 40px;
    margin-left: -280px;
    width: 600px;
    height: 500px;
  }
  .spheres__content {
    margin-top: 200px;
  }
  .small-cloud {
    top: -150px;
    right: 0px;
    overflow: hidden;
    width: 200px;
    height: 200px;
  }
  .small-cloud img {
    width: 245px;
    height: 245px;
    margin-top: -10px;
    margin-left: 0px;
    object-fit: cover;
  }
  .big-cloud {
    top: 570px;
    left: 0px;
    width: 440px;
    height: 440px;
  }
  .big-cloud img {
    width: 440px;
    height: 440px;
    margin-left: -170px;
    margin-top: 40px;
  }
  .spheres-item {
    text-align: center;
  }
  .spheres-item p {
    margin-top: 0px;
    margin-bottom: 35px;
    font-size: 28px;
    width: 700px;
  }
  .spheres-item span {
    font-size: 16px;
  }
  .first-line {
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
  .first-line p:nth-child(2) {
    margin-top: 0px;
  }
  .second-line {
    margin-top: 0px;
    display: block;
  }
  .second-line p {
    width: auto;
  }
  .second-line img {
    display: none;
  }
  .sphere__banner-mobile {
    margin: 0 auto;
    display: block;
    width: 515px;
  }
  .third-line {
    margin-top: 0px;
    display: block;
  }
  .third-line p {
    width: auto;
  }
  .third-line p:nth-child(2) {
    margin-top: 0px;
  }
  .services__content-main {
    max-width: 740px;
    gap: 30px;
    margin-top: 220px;
  }
  .services-title {
    width: 430px;
  }
  .services__content-subtitle {
    font-size: 22px;
  }
  .services__content-grid {
    display: block;
    max-width: 740px;
    margin: 15% 0 0 40px;
  }
  .services__content-grid--item-title {
    margin-left: 0px;
    margin-bottom: 20px;
    font-size: 38px;
    text-align: center;
  }
  .services__content-grid--item-elem {
    padding-top: 0px;
    margin: 0 auto 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    width: 600px;
    gap: 30px;
  }
  .elem__group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width: 350px;
  }
  .elem__group p {
    text-align: left;
    margin-left: 10px;
    font-size: 16px;
    margin-top: 0px;
  }
  .elem__group img {
    width: 50px;
    height: 50px;
  }
  .elem__group:nth-child(2n) {
    margin-top: 0px;
  }
  .services__content-stars--item {
    top: 200px;
  }
  .cases__content {
    margin: 550px auto 0;
    max-width: 740px;
  }
  .cases__content-title {
    font-size: 148px;
  }
  .cases__content-subtitle {
    font-size: 42px;
  }
  .cases__content-description {
    font-size: 23px;
  }
  .cases__content-btn {
    margin: 20px;
  }
  .cases-btn {
    margin-left: 305px;
    width: 400px;
  }
  .cases-btn p {
    font-size: 24px;
  }
  .vacancy__content {
    margin-top: 280px;
    padding-bottom: 10px;
  }
  .vacancy__content-title {
    margin-left: 0px;
  }
  .vacancy-title {
    width: 640px;
  }
  .vacancy__content-subtitle {
    font-size: 26px;
  }
  .vacancy__content-main {
    margin-left: 40px;
  }
  .vacancy__content-items {
    margin-top: 60px;
    margin-left: 40px;
  }
  .vacancy__content-item {
    justify-content: space-between;
    font-size: 20px;
    font-weight: 700;
    margin-top: 30px;
    width: 560px;
  }
  .vacancy__content-item img {
    width: 70px;
    margin-left: 0px;
  }
  .vacancy-item span {
    font-size: 16px;
  }
  .vacancy__content-btn {
    width: 350px;
    margin: 0 auto;
  }
  .vacancy-btn {
    width: 370px;
    height: 130px;
    margin-left: 0;
    margin-top: 30px;
  }
  .vacancy-btn p {
    font-size: 18px;
  }
}
@media (max-width: 769px) {
  .about__content {
    margin-top: 170px;
  }
  .about__content-main {
    max-width: 710px;
  }
  .about-title {
    width: 380px;
  }
  .about__content-subtitle {
    font-size: 20px;
  }
  .about__content-discription {
    max-width: 740px;
  }
  .about__content-infographics {
    margin-top: 450px;
    gap: 15px;
  }
  .about__content-infographics--item {
    font-size: 16px;
  }
  .item-ico img {
    width: 120px;
  }
  .about__banner {
    gap: 15px;
    margin-top: 120px;
  }
  .banner {
    font-size: 46px;
    max-width: 740px;
  }
  .founders__content-title {
    margin-top: 300px;
    font-size: 92px;
  }
  .founders__content-description {
    display: block;
  }
  .founders__content-description--title {
    margin-top: -30px;
    font-size: 24px;
  }
  .founders__content-description--title p {
    width: 480px;
  }
  .founders__content-description--subtitle {
    margin-top: 20px;
    font-size: 20px;
  }
  .founders__content-description--photo .photo {
    display: none;
  }
  .founders__content-description--photo-mobile {
    display: block;
  }
  .photo-mobile {
    display: flex;
    max-width: 375px;
  }
  .photo-alla-mobile {
    margin-top: -55px;
    margin-left: 165px;
    width: 445px;
    height: 490px;
  }
  .photo-nadya-mobile {
    margin-top: 40px;
    margin-left: -280px;
    width: 600px;
    height: 500px;
  }
  .spheres__content {
    margin-top: 130px;
  }
  .services__content-main {
    max-width: 740px;
    gap: 30px;
    margin-top: 150px;
  }
  .services__content-stars--item {
    top: 200px;
  }
  .cases__content {
    margin: 350px auto 0;
    max-width: 740px;
  }
  .cases__content-title {
    font-size: 124px;
  }
  .cases__content-subtitle {
    font-size: 36px;
  }
  .cases__content-btn {
    margin-left: 50px;
  }
  .cases-btn {
    margin: 0 auto;
  }
  .cases-btn p {
    font-size: 24px;
  }
  .vacancy__content {
    margin-top: 280px;
    padding-bottom: 10px;
  }
  .vacancy__content-title {
    margin-left: 0px;
  }
  .vacancy-title {
    width: 640px;
  }
  .vacancy__content-subtitle {
    font-size: 26px;
  }
  .vacancy__content-main {
    margin-left: 40px;
  }
  .vacancy__content-items {
    margin-top: 60px;
    margin-left: 40px;
  }
  .vacancy__content-item {
    justify-content: space-between;
    font-size: 20px;
    font-weight: 700;
    margin-top: 30px;
    width: 560px;
  }
  .vacancy__content-item img {
    width: 70px;
    margin-left: 0px;
  }
  .vacancy-item span {
    font-size: 16px;
  }
  .vacancy__content-btn {
    width: 350px;
    margin: 0 auto;
  }
  .vacancy-btn {
    width: 370px;
    height: 130px;
    margin-left: 0;
    margin-top: 30px;
  }
  .vacancy-btn p {
    font-size: 18px;
  }
}
@media (max-width: 431px) {
  .container {
    background-image: url(../img/bcgMobile.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .header {
    padding-top: 25px;
    max-width: 400px;
    font-size: 20px;
  }
  .header__list {
    margin-left: 7px;
  }
  .home__content-btn {
    margin-top: 110%;
    margin-left: 25%;
  }
  .main-btn {
    width: 250px;
    height: 140px;
  }
  .main-btn p {
    font-size: 16px;
    width: 100px;
  }
  .about__content {
    margin-top: 40%;
  }
  .about__content-main {
    flex-direction: column;
    max-width: 400px;
    gap: 15px;
  }
  .about-title {
    margin: 0 auto;
    width: 300px;
  }
  .about__content-subtitle {
    text-align: center;
    font-size: 18px;
    width: 300px;
  }
  .about__content-discription {
    margin: 70px auto 0;
    font-size: 32px;
    width: 350px;
  }
  .about__content-discription span {
    -webkit-text-stroke-width: 1px;
  }
  .about__content-stars--item {
    margin-top: 50px;
    margin-right: -130px;
  }
  .about__content-stars img:first-child {
    width: 50px;
    height: 50px;
  }
  .about__content-stars img:nth-child(2) {
    margin-top: -20px;
    width: 170px;
    height: 170px;
  }
  .about__content-stars img:last-child {
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-left: 50px;
  }
  .about__content-infographics {
    margin: 60% auto 0;
    gap: 15px;
  }
  .about__content-infographics--item {
    font-size: 12px;
  }
  .about__content-infographics--item p {
    width: 120px;
    font-size: 14px;
  }
  .about__content-infographics--item:nth-child(2) {
    margin-top: -100px;
  }
  .item-ico img {
    width: 80px;
  }
  .banner {
    font-size: 34px;
    width: 350px;
    margin: 34% auto 0;
  }
  .founders__content-title {
    margin-top: 45%;
    font-size: 50px;
  }
  .founders__content-description--title {
    margin-top: 15px;
    font-size: 24px;
  }
  .founders__content-description--title p {
    text-align: center;
    width: 350px;
  }
  .founders__content-description--subtitle {
    margin-top: 20px;
    font-size: 18px;
  }
  .photo-mobile {
    display: flex;
    max-width: 375px;
  }
  .photo-alla-mobile {
    margin-top: -38px;
    margin-left: 28px;
    width: 305px;
    height: 250px;
  }
  .photo-nadya-mobile {
    margin-top: 15px;
    margin-left: -140px;
    width: 330px;
    height: 250px;
  }
  .spheres__content {
    margin-top: 55%;
  }
  .small-cloud {
    top: -140px;
    right: 0px;
    overflow: hidden;
    width: 190px;
    height: 190px;
  }
  .small-cloud img {
    width: 195px;
    height: 195px;
    margin-top: -10px;
    margin-left: 30px;
    object-fit: cover;
  }
  .big-cloud {
    top: 500px;
    left: 0px;
    width: 290px;
    height: 290px;
  }
  .big-cloud img {
    width: 295px;
    height: 295px;
    margin-left: -70px;
    margin-top: -40px;
  }
  .spheres-item {
    text-align: left;
    margin-left: 50px;
  }
  .spheres-item p {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
  }
  .spheres-item span {
    font-size: 14px;
  }
  .first-line {
    margin-top: 0px;
    display: block;
  }
  .first-line p:nth-child(2) {
    margin-top: 0px;
  }
  .second-line {
    display: block;
  }
  .second-line p {
    width: auto;
  }
  .second-line img {
    display: none;
  }
  .sphere__banner-mobile {
    margin: 0 auto;
    display: block;
    width: 345px;
  }
  .third-line {
    display: block;
  }
  .third-line p {
    width: auto;
  }
  .third-line p:nth-child(2) {
    margin-top: 0px;
  }
  .services__content-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
    margin-top: 55%;
  }
  .service-title {
    margin: 0 auto;
    width: 300px;
  }
  .services__content-subtitle {
    text-align: center;
    font-size: 18px;
    width: 300px;
    margin-top: -10px;
  }
  .services__content-grid {
    display: block;
    margin: 15% 0 0 0px;
  }
  .services__content-grid--item-title {
    text-align: center;
    margin-left: 0px;
    font-size: 24px;
  }
  .services__content-grid--item-elem {
    padding-top: 10px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    width: 370px;
    gap: 10px;
  }
  .elem__group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width: 250px;
  }
  .elem__group p {
    text-align: left;
    margin-left: 5px;
    font-size: 12px;
    margin-top: 0px;
  }
  .elem__group img {
    width: 40px;
    height: 40px;
  }
  .elem__group:nth-child(2n) {
    margin-top: 0px;
  }
  .services__content-stars--item {
    top: 300px;
    right: -50px;
    width: 100px;
  }
  .services__content-stars--item img {
    width: 100px;
    height: 100px;
  }
  .services__content-stars--item img:nth-child(2n) {
    width: 50px;
    height: 50px;
  }
  .cases__content {
    margin: 60% auto 0;
    max-width: 740px;
  }
  .cases__content-title {
    font-size: 64px;
  }
  .cases__content-subtitle {
    font-size: 36px;
  }
  .cases__content-description {
    font-size: 18px;
  }
  .cases__content-btn {
    width: 250px;
    margin: 15px auto 0;
  }
  .cases-btn {
    margin-left: 10px;
    width: 250px;
    height: 170px;
  }
  .cases-btn p {
    font-size: 16px;
  }
  .vacancy__content {
    margin-top: 65%;
    padding-bottom: 10px;
  }
  .vacancy__content-title {
    margin-left: 20px;
  }
  .vacancy-title {
    width: 385px;
  }
  .vacancy__content-subtitle {
    font-size: 20px;
  }
  .vacancy__content-items {
    margin-top: 30px;
    margin-left: 20px;
  }
  .vacancy__content-item {
    justify-content: space-between;
    font-size: 16px;
    font-weight: 700;
    margin-top: 15px;
    width: 360px;
  }
  .vacancy__content-item img {
    width: 65px;
    margin-left: 20px;
  }
  .vacancy-item span {
    font-size: 14px;
  }
  .vacancy__content-btn {
    width: 250px;
    margin: 0 auto;
  }
  .vacancy-btn {
    width: 250px;
    height: 150px;
    margin-left: 0%;
    margin-top: 0px;
  }
  .vacancy-btn p {
    font-size: 16px;
  }
}
@media (max-width: 391px) {
  .header {
    padding-top: 17px;
    max-width: 350px;
    font-size: 16px;
  }
  .main-btn {
    bottom: -100px;
    right: 50px;
    width: 150px;
    height: 150px;
  }
  .main-btn p {
    font-weight: 700;
    font-size: 14px;
    width: 100px;
  }
  .about__content {
    margin-top: 55%;
  }
  .about__content-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
  }
  .about-title {
    margin-top: 0%;
    width: 170px;
  }
  .about__content-subtitle {
    color: white;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    width: 250px;
  }
  .about__content-discription {
    margin: 25% auto;
  }
  .about__content-stars--item {
    margin-top: -70px;
    margin-right: 0px;
    width: 110px;
  }
  .about__content-stars img:first-child {
    margin-left: 30px;
  }
  .about__content-stars img:nth-child(2) {
    width: 150px;
    height: 150px;
  }
  .about__content-stars img:last-child {
    width: 45px;
    height: 45px;
    margin-top: 0px;
    margin-left: 80px;
  }

  .about__content-infographics {
    max-width: 320px;
    margin: 65% auto 0;
    gap: 10px;
  }
  .about__content-infographics--item {
    font-size: 14px;
    text-align: center;
  }
  .about__content-infographics--item p {
    margin-top: 10px;
  }
  .banner {
    font-size: 28px;
    max-width: 250px;
    margin: 40% auto;
  }
  .item-ico img {
    width: 60px;
    height: 60px;
  }
  .founders__content-title {
    margin-top: 55%;
    font-size: 40px;
  }
  .founders__content-description {
    display: block;
  }
  .founders__content-description--title {
    margin-top: 5px;
    font-size: 18px;
    margin-left: 20px;
  }
  .founders__content-description--title p {
    max-width: 340px;
  }
  .founders__content-description--subtitle {
    margin-top: 20px;
    font-size: 16px;
  }
  .photo-mobile {
    max-width: 375px;
  }
  .photo-alla-mobile {
    margin-top: -35px;
    margin-left: 25px;
    width: 195px;
    height: 220px;
  }
  .photo-nadya-mobile {
    margin-top: 10px;
    margin-left: -125px;
    width: 250px;
    height: 230px;
  }
  .spheres__content {
    margin-top: 55%;
  }
  .small-cloud {
    top: -90px;
    right: 0px;
    overflow: hidden;
    width: 100px;
    height: 100px;
  }
  .small-cloud img {
    width: 150px;
    height: 150px;
    margin-top: -10px;
    margin-left: 10px;
    object-fit: cover;
  }
  .big-cloud {
    top: 470px;
    left: 0px;
    width: 150px;
    height: 150px;
  }
  .big-cloud img {
    width: 210px;
    height: 210px;
    margin-left: -70px;
    margin-top: -40px;
  }
  .spheres__content-items {
    margin-left: 5px;
  }
  .spheres-item {
    text-align: left;
  }
  .spheres-item p {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 18px;
  }
  .spheres-item span {
    font-size: 16px;
    text-shadow: none;
  }
  .first-line {
    margin-top: 0px;
    display: block;
  }
  .first-line p:nth-child(2) {
    margin-top: 0px;
  }
  .second-line {
    margin-top: 15px;
    display: block;
  }
  .second-line img {
    display: none;
  }
  .sphere__banner-mobile {
    margin-top: 20px;
    margin-bottom: 30px;
    display: block;
    width: 300px;
  }
  .third-line {
    margin-top: 0px;
    display: block;
  }
  .third-line p:nth-child(2) {
    margin-top: 0px;
  }
  .services__content {
    margin-top: 0%;
  }
  .services__content-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
    margin-bottom: 20%;
    margin-top: 50%;
  }
  .services__content-title img {
    width: 200px;
  }
  .services__content-subtitle {
    width: 250px;
    margin-top: -10px;
    font-size: 12px;
    text-align: center;
  }
  .services__content-grid {
    display: block;
    margin: 0px 0 0 40px;
  }
  .services__content-grid--item-title {
    margin-left: -40px;
    font-size: 18px;
  }
  .services__content-grid--item-elem {
    padding-top: 20px;
    margin-left: -40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    width: 370px;
    gap: 10px;
  }
  .elem__group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width: 250px;
  }
  .elem__group p {
    text-align: left;
    margin-left: 5px;
    font-size: 12px;
    margin-top: 0px;
  }
  .elem__group img {
    width: 40px;
    height: 40px;
  }
  .elem__group:nth-child(2n) {
    margin-top: 0px;
  }
  .services__content-stars--item {
    position: absolute;
    top: 50px;
    right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    overflow: hidden;
  }
  .services__content-stars--item img {
    width: 100px;
    height: 100px;
    margin-right: -100px;
  }
  .services__content-stars--item img:nth-child(2n) {
    width: 50px;
    height: 50px;
  }
  .cases__content {
    margin: 80% auto 0;
    max-width: 370px;
  }
  .cases__content-title {
    font-size: 60px;
    margin-bottom: 30px;
  }
  .cases__content-subtitle {
    font-size: 20px;
  }
  .cases__content-description {
    font-size: 18px;
    margin: 30px auto;
    width: 250px;
  }
  .cases__content-btn {
    width: 200px;
    margin: 15px auto 0;
  }
  .cases-btn {
    margin-left: 10px;
    width: 200px;
    height: 110px;
  }
  .cases-btn p {
    font-size: 12px;
    width: 200px;
  }
  .vacancy__content {
    margin-top: 65%;
    padding-bottom: 10px;
  }
  .vacancy__content-main {
    margin-left: 20px;
  }
  .vacancy__content-title {
    margin-left: 20px;
  }
  .vacancy-title {
    width: 340px;
    margin-left: -20px;
  }
  .vacancy__content-subtitle {
    font-size: 16px;
  }
  .vacancy__content-items {
    margin-top: 30px;
    margin-left: 20px;
  }
  .vacancy__content-item {
    justify-content: space-between;
    font-size: 14px;
    font-weight: 700;
    margin-top: 15px;
    width: 300px;
  }
  .vacancy__content-item img {
    width: 45px;
    margin-left: 10px;
  }
  .vacancy-item span {
    font-size: 14px;
  }
  .vacancy__content-btn {
    width: 250px;
    margin: 0 auto;
  }
  .vacancy-btn {
    width: 250px;
    height: 150px;
    margin-left: 0%;
    margin-top: 0px;
  }
  .vacancy-btn p {
    font-size: 16px;
  }
}
